// COLORS
$color-primary: hsl(158, 36%, 37%); // Dark cyan
$color-secondary: hsl(30, 38%, 92%);

$color-tertiary-gray: hsl(228, 12%, 48%);
$color-tertiary-dark: hsl(212, 21%, 14%); // Very Dark grayish blue

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.4rem;

// GRID variables

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 75 * 16px = 1200px;
$bp-large: 62.5em; // 62.5 * 16px = 1000px;
$bp-medium: 50em; // 50 * 16px = 800px;
$bp-small: 37.5em; // 37.5em * 16px = 600px;
