// https://practicaltypography.com - a good resource for easily readable typography

// Summary of Key Rules
// -------------------------------
// 1. The four most important typographic considerations for body text are point size, line spacing, line length, and font (see font recommendations), because those choices determine how the body text looks.
// 2. Point size should be 10–12 points in printed documents, 15-25 pixels on the web.
// 3. Line spacing should be 120–145% of the point size.
// 4. The average line length should be 45–90 characters (including spaces).
// 5. The easiest and most visible improvement you can make to your typography is to use a professional font, like those found in font recommendations.
// 6. Avoid goofy fonts, monospaced fonts, most free fonts, and system fonts—especially times new roman and arial.
// 7. Use curly quotation marks, not straight ones (see straight and curly quotes).
// 8. Use bold or italic as little as possible, and not together.
// 9. Never underline, except perhaps for web links.
// 10. All caps are fine for less than one line of text.
// 11. Use centered text sparingly.
// 12. Put only one space between sentences.
// 13. Don’t use multiple word spaces or other white-space characters in a row.
// 14. If you don’t have real small caps, don’t use them at all.
// 15. Use 5–12% extra letterspacing with all caps and small caps.
// 16. kerning should always be turned on.
// 17. Use first-line indents that are one to four times the point size of the text, or use 4–10 points of space between paragraphs. Don’t use both.
// 18. Always use hyphenation with justified text.
// 19. Don’t confuse hyphens and dashes, and don’t use multiple hyphens as a dash.
// 20. Use ampersands sparingly, unless included in a proper name.
// 21. Use proper trademark and copyright symbols—not alphabetic approximations.
// 22. In a document longer than three pages, one exclamation point is plenty (see question marks and exclamation points).
// 23. Put a nonbreaking space after paragraph and section marks.
// 24. Make ellipses using the proper character, not periods and spaces.
// 25. Apostrophes point downward.
// 26. Make sure foot and inch marks are straight, not curly.

body {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  font-size: $default-font-size; //18px
  font-weight: 400;
  line-height: 1.4;
  color: $color-tertiary-gray;
}
